.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
src/_drafts
package-lock.json

# local env files
.env.local
.env.*.local

# Log files and databases
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.sql
*.sqlite

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ignore private/secret files
*.der
*.key
*.pem